* {
  background-color: #afdbd1;
}

h1 {
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 35px;
}

h2 {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 25px;
}

li {
  font-family: 'Courier New', 'Lucida Console', monospace; 
  color: #d0afdb;
  font-size: 14px;
  font-weight: bold;
}

a {
  color: black;
}

.choc-para {
  color: blueviolet;
  background-color: beige;
  font-size: 20px;
  font-weight: bold;
}

img {
  align-items: center;
}